<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>passes</key>
	<dict>
		<key>ParallaxOcclusionMappingPass</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>metalVertexShader</key>
			<string>parallaxOcclusionMappingVertexShader</string>
			<key>metalFragmentShader</key>
			<string>parallaxOcclusionMappingFragmentShader</string>
			<key>inputs</key>
			<dict>
				<key>diffuseTexture</key>
				<dict>
					<key>target</key>
					<string>diffuseTextureSymbol</string>
				</dict>
				<key>depthTexture</key>
				<dict>
					<key>target</key>
					<string>depthTextureSymbol</string>
				</dict>
				<key>offsetX</key>
				<string>offsetXSymbol</string>
				<key>offsetY</key>
				<string>offsetYSymbol</string>
				<key>selectedFocalPoint</key>
				<string>selectedFocalPointSymbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>sequence</key>
	<array>
		<string>ParallaxOcclusionMappingPass</string>
	</array>
	<key>symbols</key>
	<dict>
		<key>offsetYSymbol</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>diffuseTextureSymbol</key>
		<dict>
			<key>type</key>
			<string>sampler2D</string>
		</dict>
		<key>depthTextureSymbol</key>
		<dict>
			<key>type</key>
			<string>sampler2D</string>
		</dict>
		<key>selectedFocalPointSymbol</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>offsetXSymbol</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
	</dict>
</dict>
</plist>
