<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>FILEHEADER</key>
<string>
// 3Dify App
//
// Project website: https://github.com/3dify-app
//
// Authors:
// - ___FULLUSERNAME___ ___YEAR___, Contact: &lt;#T##email: String##String#&gt;
//
// Copyright notice: All rights reserved by the authors given above. Do not
// remove or change this copyright notice without confirmation of the authors.
// </string>
</dict>
</plist>
